@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root{
  --bg-main: #0E0E11;
  --bg-surface: #14141A;
  --accent: #C9A24D;

  --text-primary: #EAEAEA;
  --text-muted: #A1A1AA;

  --border-subtle: #23232A;
}

[data-theme="light"]{
  --bg-main: #FAFAFA;
  --bg-surface: #FFFFFF;
  --accent: #C9A24D;

  --text-primary: #111111;
  --text-muted: #555555;

  --border-subtle: #E5E7EB;
}


.b-g-main{
  background-color: var(--bg-main);
}

.b-g-surface{
  background-color: var(--bg-surface);
}

.b-g-accent{
  background-color: var(--accent);
}

.t-primary{
  color: var(--text-primary);
}

.t-muted{
  color: var(--text-muted);
}

.t-accent{
  color: var(--accent);
}

.hover-accent:hover{
  color: var(--accent);
}

.b-subtle{
  border: 1px solid var(--border-subtle);
}



.header-text {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
}

.dashboard li .active {
  background-color: #C9A24D;
  color: #0E0E11;
  font-weight: 600;
}

p{
    color: #A1A1AA;

}

body {
   font-family: "Inter", sans-serif;
   
}



@layer utilities {
  @keyframes zoomBg {
    0% { transform: scale(1); }
    100% { transform: scale(1.1); }
  }
  .animate-zoomBg {
    animation: zoomBg 4s ease-in-out infinite alternate;
  }
}


@layer utilities {
  @keyframes zoomBg {
    0% { transform: scale(1); }
    100% { transform: scale(1.1); }
  }
  .animate-zoomImg:hover {
    animation: zoomBg .9s ease-out both;
  }
}
